
<div class="page-header">
  <h1>Bands</h1>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Foundation Year</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group[:name] %></td>
            <% if group[:genre]!=nil && group[:genre].length > 0 %>
                <td><%= group[:genre][0] %></td>
            <%else%>
                <td> undefined </td>
            <%end%>
             <!-- getting first one only -->
            <td><%= group[:foundation_year] %></td>
            <td><%= link_to 'lastFM', group[:lastFMURL] %></td>

            <td><%= link_to 'Show', "/groups/#{group[:id]}" %></td>
            <td><%= link_to 'Edit', "edit_group_path(group)" %></td>
            <td><%= link_to 'Destroy', group, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
          </tr>
        <% end %>
    </tbody>
</table>

