<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>Foundation Year</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.genre %></td>
    <td><%= group.foundationYear %></td>
    <td><%= link_to 'lastFM', group.lastfmUrl %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

