<div class="span9">
    <div class="page-header">
      <h3>Your Search Results</h3>
    </div>

    <%if not @searches[:results].empty?%>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
			  <th></th>
            </tr>
          </thead>
          <tbody>
              <% @searches[:results].each do |search| %>
                <tr>
              
                   <!-- getting first one only -->
                  <td><%= search[:type] %></td>
                  <td><%= search[:name].html_safe %></td>
				  <% if search[:type] == "Concert" %>
                  <td>
                      <%= link_to 'Show', search[:url], :class => 'btn btn-primary' %>
                  </td>
				  <% elsif search[:type] == "Artist" %>
                  <td>
                      <%= link_to 'Show', "/groups/#{search[:group_id]}", :class => 'btn btn-primary' %>
                  </td>
				  <% else %>
                  <td>
                      <%= link_to 'Show', "/#{search[:type]}/#{search[:id]}", :class => 'btn btn-primary' %>
                  </td>
				  <% end %>
                </tr>
              <% end %>
          </tbody>
      </table>
    <%else%>
      No results found for query "<%=@searches[:query]%>"
    <%end%>
</div>

<div class="span3">
  <%= render 'layouts/about_us' %>
</div>
